@model EditOrderVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




 <p>Detalji narudžbe</p> <br />
   
    <form>
   Narudzba rb <input readonly asp-for="OrderID" value="@Model.OrderID"/> <br />
    Datum narudžbe<input readonly asp-for="OrderDate" value="@Model.OrderDate" /><br />
    Korisnik<input readonly value="@Model.UserInfo"/> <br />
   <input hidden id="fleg" value="@Model.IsShipped"/>  @*//ako je isporuceno ovo polje je checked i nema se mogucnosti za raspodjelu*@
    onclick="SaveChanges()" id="btn">Odobri narudžbu za slanje</button>
        <button type="button" id="abort">Nazad</button>
    </form>
    <br />
    <div id="chng" style="border:solid black 1px;margin:3px;">


    </div>




