@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    

    <table border="0">
        <tr>
            <td><a href="/Home/Show">Prikaz proizvoda</a></td>
        </tr>
        <tr>
            <td><a href="/Home/Show2">Kupovina</a></td>
        </tr>
        <tr>
            <td><a href="/Home/LookInCart">Pogledaj košaricu</a></td>
        </tr>
    </table>

</div>
