@using OnlineShopPodaci.Model;
@{
    ViewData["Title"] = "SignInForm";

    var cities=(List<City>)ViewData["citykey"];
}

<h4>Forma za unos novog korisnika</h4>

    <form action="/Home/SaveLogin" method="post">

        <p>Ime</p>
        <input type="text" name="name" required maxlength="30" /><br />

        <p>Prezime</p>
        <input type="text" name="surname" required maxlength="30" /><br />

        <p>Datum rodjenja</p>
        <input type="date" name="birthdate" required /><br />

        <p>Odaberite grad</p>
        <select name="cityID">
            <option>Odaberite grad</option>
            @foreach (City i in cities)
            {
                <option name="cityID" required maxlength="30">@i.CityName</option>
            }
        </select>
        <br />

        <p>Adresa</p>
        <input type="text" name="adresa" required maxlength="40" /><br />

        <p>Email</p>
        <input type="email" name="email" required maxlength="30" /><br />

        <p>Sifra</p>
        <input type="password" name="password" required minlength="8" maxlength="30" /><br />

        <p>Ponovite sifru</p>
        <input type="password" name="password" required minlength="8" maxlength="30" /><br />       <!-- treba napravit da su obe sifre autenticne -->

        <p>Spol</p>
        <input type="radio" name="genderID" checked> Muško<br>
        <input type="radio" name="genderID" /> Žensko<br>

        <br />
        <p>za karticu nek stoji ne znam kako smo skontali kak ce izgledat...</p>


        <input type="submit" value="Registruj se" />
    </form>


