@model ChangeUserInfoVM
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeInfo</title>
</head>
<body>
    <h3>Uredi profilne informacije:</h3> <br /> <br />

    <form action="/Customer/SaveUserInfo" method="post">
        Ime: @Html.TextBoxFor(model => model.name) <br />
        Prezime: @Html.TextBoxFor(model=>model.surname) <br />
        Adresa: @Html.TextBoxFor(model=>model.adress) <br />
        Broj telefona: @Html.TextBoxFor(model=>model.phonenumber) <br />
        

        





        <button type="submit">Spremi</button> <button type="button">Nazad</button>
    </form>

</body>
</html>
