@model ChangeUserInfoVM
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeInfo</title>
</head>
<body>
    <h3>Uredi profilne informacije:</h3> <br /> <br />

    <form action="/Customer/SaveUserInfo" method="post">






        <button type="submit">Spremi</button> <button type="button">Nazad</button>
    </form>

</body>
</html>
