
@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Panel</title>
</head>
<body>

    <h3>Korisnički panel</h3> <br /> <br />

</body>
</html>
