
@{
    ViewData["Title"] = "ChangeQuantity";
}

@using OnlineShop.ViewModels.Branch;
@model ChangeQuantityVM

<form >

    <input asp-for="productID" hidden />

    <p>Kolicina:</p>
    <input asp-for="quantity" min="0" max="@Model.quantity" />
    <br /><br />
    <input type="submit" value="Snimi" class="btn btn-primary" />
</form>